package about

import (
	"github.com/labstack/echo/v4"
	"github.com/jamestiberiuskirk/stackr/internal/web/components"
)

templ aboutPage(c echo.Context) {
	@components.Layout(c, "About") {
		<main class="container">
			<div class="hero">
				<h1>About</h1>
				<p>Tell the world about your project.</p>
			</div>
		</main>
	}
}
